html {
    background-color: aliceblue;
}

body {
    color: #47658a;
    text-align: center;
    width: 75%;
    margin: auto;
    max-width: 700px;
    min-width: 320px;
    font-family: 'Ubuntu', sans-serif;
}

p{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
 
form {
    background-color: floralwhite;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #7d98b8
}

fieldset {
    border-color: #7d98b8c4;
    border-radius: 10px;
    margin: 10px;
}

legend {
    font-weight: bolder;
}

textarea {
    height: 80px;
    width: 300px;
    border-radius: 4px;
}

button {
    display: block;
    margin: auto;
    width: 100px;
    border-radius: 4px;
    color: #47658a;
    font-weight: bold;
}

textarea, button {
    box-shadow: 2px 2px 2px #7d98b8
}

input::placeholder {
    text-align: center;
}

.row, .required-row{
    margin: 10px;
}

.checkbox-item, .radio-item, .required-labels {
    display: inline-flex;
    flex-wrap: wrap;
}
 
.required-input {
    width: 200px;
}

.labels {
    display: block;
    margin: 10px;
    font-weight: bold;
}

.checkbox-group {
    flex-wrap: wrap;
}

.checkbox-label {
    width: 70px;
    text-align: left;
}

#experience, #additional-comments {
    margin-top: 20px;
}

#radio-div, #checkbox-div, #submit-button {
    margin-top: 20px;
}

#number-label {
    padding-left: 11.55px;
}

@media (max-width: 600px){
    .checkbox-item, .radio-item{
        width: 45%;
    }
    textarea {
        width: 200px;
    }
}