body {
    text-align: center;
 }
 
 .labels {
     display: block;
 }
 
 .required-input {
     width: 200px;
 }
 
 input::placeholder {
     text-align: center;
 }
 
 button {
     display: block;
     margin: auto;
 }